


* {
	margin: 0px;
	padding: 0px;
}

body {
	background: #EEE;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
}
p {
	margin: 10px 0px 60px 0px;
}
div#body {
	width: 600px;
	margin: 30px auto;
	padding: 20px;
	border: 1px solid #DDD;
	background: #FFF;
}
div.test-area {
	margin: 20px;
	padding: 20px;
	border: 1px solid #DDD;
}

ul, ol { list-style-type: none; }



div#one-container {
	height: 350px;
	overflow: hidden;
	background: #FFC;
	border: 1px solid #CCC;
	padding: 10px;
}


div#css-transitions .transition {
	background: orange;
	color: #FFFFFF;
	font-weight: bold;
	padding: 10px;
	margin-right: 10px;
	display: inline-block;
	cursor: pointer;}

div#css-transitions .transition {
	-webkit-transition: all 0.5s ease-in-out;
	   -moz-transition: all 0.5s ease-in-out;
	     -o-transition: all 0.5s ease-in-out;
	        transition: all 0.5s ease-in-out;}

			
.transition.opacity:hover {
	opacity: 0.5;}

.rotation:hover {
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);}
		   
		 
		 
		 
		 
		 